<!DOCTYPE html>
<html>
  <div class="container">
    <div class="border border-primary rounded my-3 p-2">
      <p><strong><%= comment.user %></strong> написал:</p>
      <p><%= comment.body %></p>
      <small><%= comment.created_at.strftime("%d %B %Y, %H:%M") %></small>
      | 
      <%= link_to 'Удалить', [comment.post, comment], method: :delete, data: { confirm: 'Удалить комментарий?' } %>
    </div>
  </div>
</html>